# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-e0zxq.eu-west-3.aws.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=4EUV3VVKJ4OI5RMC
sasl.password=Am1PcghuNh/0mi+4H6qThyNxSO5NUt2SAcseSXvpPqKS5ky0xGxZAheLQM+p9yk3

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

# Required connection configs for Confluent Cloud Schema Registry
schema.registry.url=https://psrc-95km5.eu-central-1.aws.confluent.cloud
basic.auth.credentials.source=USER_INFO
basic.auth.user.info={{ SR_API_KEY }}:{{ SR_API_SECRET }}